{% extends 'home.html' %}

{% load static %}

{% block title %} {{ page_title }} {% endblock %}

{% block content %}
<section class="content-view w-full py-0 bg-gray-50">
    <!-- Opciones HC Otros -->
    <div class="content-options flex flex-wrap space-x-4 space-y-0 p-0 m-0 py-0 px-0">
        <div class="relative ml-4 top-3 left-0"> 
            <a href="{% url 'otros-vigente' %}">
                <button type="button" class="options-med button-50">Consultas</button>
            </a>
        </div>
        <div class="relative ml-4 top-3 left-0">
            <a href="{% url 'otros-vigente' %}">
                <button type="button" class="options-med button-50">Validación</button>
            </a>
        </div>
        <div class="relative ml-4 top-3 left-0">
            <a href="{% url 'load-med-vigente' %}">
                <button type="button" class="options-med button-50">Cargue</button>
            </a>
        </div>
    </div>
    <!-- Contenedor Filtros -->
    <section id="filters" class="content-filter-med w-full py-20 bg-gray-100">
        <div class="filtered container mx-auto px-4 shadow-lg py-4">
            <form method="GET" action="{% url 'otros-vigente' %}">
        <!-- Aquí van los filtros -->
            <div class="flex flex-wrap justify-between space-x-4">
                <div class="relative z-0 mb-6 flex-1 min-w-[200px] border border-gray-300 rounded-md bg-white">
                    <input type="text" name="cum" id="cum" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-gray-100 border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " />
                    <label for="cum" class="absolute font-medium text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 left-0 origin-[0_0] bg-gray-100 px-1 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:-translate-y-5 peer-focus:scale-75">CUM</label>
                </div>
                <div class="relative z-0 mb-6 flex-1 min-w-[200px] border border-gray-300 rounded-md bg-white">
                    <input type="number" name="expediente" id="expediente" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-gray-100 border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " />
                    <label for="expediente" class="absolute font-medium text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 left-0 origin-[0_0] bg-gray-100 px-1 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:-translate-y-5 peer-focus:scale-75">Expediente</label>
                </div>
                <div class="relative z-0 mb-6 flex-1 min-w-[200px] border border-gray-300 rounded-md bg-white">
                    <input type="text" name="descripcion_medicamento" id="descripcion_medicamento" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-gray-100 border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " />
                    <label for="descripcion_medicamento" class="absolute font-medium text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 left-0 origin-[0_0] bg-gray-100 px-1 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:-translate-y-5 peer-focus:scale-75">Descripción del Insumo</label>
                </div>
                <div class="relative z-0 mb-6 flex-1 min-w-[200px] border border-gray-300 rounded-md bg-white">
                    <input type="text" name="principio_activo" id="principio_activo" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-gray-100 border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " />
                    <label for="principio_activo" class="absolute font-medium text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 left-0 origin-[0_0] bg-gray-100 px-1 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:-translate-y-5 peer-focus:scale-75">Principio Activo</label>
                </div>
                <div class="relative z-0 mb-6 flex-1 min-w-[200px] border border-gray-300 rounded-md bg-white">
                    <input type="text" name="concentracion" id="concentracion" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-gray-100 border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " />
                    <label for="concentracion" class="absolute font-medium text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 left-0 origin-[0_0] bg-gray-100 px-1 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:-translate-y-5 peer-focus:scale-75">Concentración</label>
                </div>
                <div class="relative z-0 mb-6 flex-1 min-w-[200px] border border-gray-300 rounded-md bg-white">
                    <input type="number" name="nit_proveedor" id="nit_proveedor" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-gray-100 border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " />
                    <label for="nit_proveedor" class="absolute font-medium text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 left-0 origin-[0_0] bg-gray-100 px-1 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:-translate-y-5 peer-focus:scale-75">NIT</label>
                </div>
            </div>
            <div class="relative inline-block w-64">
                <label for="forma_farmaceutica" class="block text-sm font-medium text-gray-700">Froma Farmacéutica</label>
                <select id="forma_farmaceutica" name="forma_farmaceutica" class="mt-1 block w-full rounded-md border border-gray-300 bg-white py-2 px-3 text-base text-gray-700 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500">
                    <option value="">Selecciona...</option>
                        {% for forma in formas_farmaceuticas.all %}
                            <option value="{{ forma }}">{{ forma }}</option>
                        {% endfor %}
                </select>
            </div>
            <div class="relative inline-block w-64">
                <label for="alianza" class="block text-sm font-medium text-gray-700">Alianza</label>
                <select name="alianza" id="alianza" class="mt-1 block w-full rounded-md border border-gray-300 bg-white py-2 px-3 text-base text-gray-700 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500">
                    <option value="">Selecciona...</option>
                        {% for alianza in alianza.all %}
                            <option value="{{ alianza }}">{{ alianza }}</option>
                        {% endfor %}
                </select>
            </div>
            <div class="relative inline-block w-64">
                <label for="canal" class="block text-sm font-medium text-gray-700">Canal</label>
                <select name="canal" id="canal" class="mt-1 block w-full rounded-md border border-gray-300 bg-white py-2 px-3 text-base text-gray-700 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500">
                    <option value="">Selecciona...</option>
                        {% for canal in canal.all %}
                            <option value="{{ canal }}">{{ canal }}</option>
                        {% endfor %}
                </select>
            </div>
            <div class="relative inline-block w-64">
                <label for="numero_acta_inicial" class="block text-sm font-medium text-gray-700">Acta o Estandar</label>
                <select name="numero_acta_inicial" id="numero_acta_inicial" class="mt-1 block w-full rounded-md border border-gray-300 bg-white py-2 px-3 text-base text-gray-700 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500">
                    <option value="">Selecciona...</option>
                        {% for acta in acta.all %}
                            <option value="{{ acta }}">{{ acta }}</option>
                        {% endfor %}
                </select>
            </div>
            <div class="relative inline-block w-64">
                <label for="nombre_del_proveedor_pactado" class="block text-sm font-medium text-gray-700">Proveedor</label>
                <select name="nombre_del_proveedor_pactado" id="nombre_del_proveedor_pactado" class="mt-1 block w-full rounded-md border border-gray-300 bg-white py-2 px-3 text-base text-gray-700 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500">
                    <option value="">Selecciona...</option>
                        {% for proveedor in proveedores.all %}
                            <option value="{{ proveedor }}">{{ proveedor }}</option>
                        {% endfor %}
                </select>
            </div>
            <div class="relative inline-block w-64">
                <label for="tipo" class="block text-sm font-medium text-gray-700">Tipo</label>
                <select name="tipo" id="tipo" class="mt-1 block w-full rounded-md border border-gray-300 bg-white py-2 px-3 text-base text-gray-700 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500">
                    <option value="">Selecciona...</option>
                        {% for tipo in tipos.all %}
                            <option value="{{ tipo }}">{{ tipo }}</option>
                        {% endfor %}
                </select>
            </div>
            <div class="relative inline-block w-64">
                <label for="novedad" class="block text-sm font-medium text-[red]">Novedades (Julieta aca puedes ver los Hallazgos)</label>
                <select name="novedad" id="novedad" class="mt-1 block w-full rounded-md border border-gray-300 bg-white py-2 px-3 text-base text-gray-700 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500">
                    <option value="">Selecciona...</option>
                        {% for novedad in novedades.all %}
                            <option value="{{ novedad }}">{{ novedad }}</option>
                        {% endfor %}
                </select>
            </div>
            
            <!-- Btn buscar !-->
            <button type="submit" class="button-48" role="button"><span class="text">Buscar</span></button>
        </form>
        </div>
    </section>
    <!-- Contenedor Información -->
    <section id="info-buttons" class="content-info w-full lg:w-3/10 py-2 space-y-4 bg-[#e5e8e8] shadow-lg">
        <details class="content-btn-historico justify-center mx-0 py-2 items-center text-black bg-white">
            <summary>Históricos</summary>
                <div class="content-btn-historico justify-center mx-0 py-2 items-center shadow-lg hover:scale-95">
                    <a href="{% url 'moleculas-vigente' %}" class="btn-historico block py-2">Histórico Vigente de Medicamentos</a>
                    <!-- <a href="{% url 'moleculas-antiguo' %}" class="btn-historico block py-2">Histórico Antiguo de Medicamentos</a> -->
                    <!-- <a href="{% url 'otros-antiguo' %}" class="btn-historico block py-2">Histórico Antiguo de Otros</a> -->
                    <a href="{% url 'moleculas-homeopatica' %}" class="btn-historico block py-2">Histórico de Medicamentos Homeopatica</a>
                    <a href="{% url 'otros-homeopatica' %}" class="btn-historico block py-2">Histórico de Otros Homeopatica</a>
                </div>
        </details>
        <!-- <div class="content-btn-historico mx-0 py-2 items-center shadow-lg">        
            <a href="{% url 'moleculas-vigente' %}" class="btn-historico block py-2">Histórico Vigente de Medicamentos</a>
            <a href="{% url 'moleculas-vigente' %}" class="btn-historico block py-2">Histórico de Medicamentos Homeopatica</a>
            <a href="{% url 'moleculas-vigente' %}" class="btn-historico block py-2">Histórico de Otros Homeopatica</a>
            <a href="{% url 'moleculas-antiguo' %}" class="btn-historico block py-2">Histórico Antiguo de Medicamentos</a>
            <a href="{% url 'otros-antiguo' %}" class="btn-historico block py-2">Histórico Antiguo de Otros</a>
        </div> -->
        <div class="content-bar container mx-auto px-4 flex justify-between items-center">        
            <div class="flex-1">
                <!-- Aquí van los labels de span y botones -->
                <p>Registros encontrados <span id="result-query" class="font-semibold">{{ info_page.paginator.count }}</span></p>
                <p>Filtros Aplicados : 
                    <span class="font-semibold">
                        {% if filtros_aplicados %}
                        {{ filtros_aplicados|join:", " }}
                        {% else %}
                        Ningún filtro aplicado
                        {% endif %}
                    </span>
                </p>
                {% if not filtros_aplicados and info_page.paginator.count == 0 %}
                <p><span class="font-semibold text-[#3030b1]">Actualizando Tabla Otros Vigentes</span></p>
                <p><span class="font-semibold text-[#339c33]">Espere un momento por favor ...</span></p>

                {% elif info_page.paginator.count == 0 %}
                <p>Ultima Actualización <span class="font-semibold">30 de diciembre del 2025</span></p>
                <p><span class="font-semibold text-[#b13030]">⚠ No se encontraron resultados con los filtros aplicados</span></p>

                {% else %}
                <p>Ultima Actualización <span class="font-semibold">30 de diciembre del 2025</span></p>
                {% endif %}
            </div>
            <div class="ml-4">
                <button id="toggle-filters" class="button-49" role="button">Ver Filtros</button>
            </div>
            <div class="ml-4">
                <button class="button-actas" role="button">Ver Actas</button>
            </div>
        </div>
    </section>
    <!-- Contenedor Actas Cargadas -->
    <!-- <section id="section-actas" class="content-div-actas w-full bg-transparent h-max-auto">
        <div class="content-actas container mx-auto px-4 py-4 h-full bg-transparent">
            <h3 class="title text-3xl font-bold text-center my-6">Actas Cargadas {{ total_actas.count }}</h3>
            <div class="relative container grid columns-3 justify-between rounded-sm shadow-lg bg-transparent text-[14px] mx-auto px-4 items-center overflow-x-auto h-[67vh]">
                {% for acta, info in info_actas.items %}
                    {% with nit=acta.0 proveedor=acta.1 %}
                    <div class="acta-item p-4 border border-gray-300 shadow-lg mb-4">
                        <p><strong>NIT Proveedor:</strong> {{ nit }}</p>
                        <p><strong>Proveedor:</strong> {{ proveedor }}</p>
                        <p><strong>Actas:</strong> {{ info.actas|join:", " }}</p>
                        <p><strong>Móleculas por Acta:</strong> {{ info.moleculas_acta|join:", " }}</p>
                        <p><strong>Total de Móleculas:</strong> {{ info.total_moleculas }}</p>
                    </div>
                    {% endwith %}
                {% endfor %}
            </div>
            <p class="subtitle text-[18px] w-full font-bold text-right my-6">Total Prestadores {{ info_actas|length }}</p>
        </div>
    </section> -->
    <!-- Contenedor Tabla -->
    <section id="table-pagination" class="content-navidad w-full lg:w-7/10 py-2">
        <div class="content-pagination-med container mx-auto my-auto py-2 px-4 shadow-lg rounded-xl">
            <!-- Título -->
            <h1 class="text-3xl font-bold text-center my-6">Histórico Vigente de Otros</h1>
            <!-- Paginación -->
            <div id="content-pagination" class="relative bg-transparent">
                <form method="GET" action="">
                    <div class="relative w-[200px] min-w-[200px] z-0 mb-0 flex-1 border border-gray-300 rounded-md bg-white">
                        <input type="number" name="page" id="page" min="1" max="{{ info_page.paginator.num_pages }}" data-total-pages="{{ info_page.paginator.num_pages }}" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-gray-100 border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " oninput="updatePageLink()" />
                        <label for="page" class="absolute font-medium text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 left-0 origin-[0_0] bg-gray-100 px-1 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:-translate-y-5 peer-focus:scale-75">
                            <p>Pagina <span id="page-number" class="font-bold">{{ info_page.number }}</span> de <span class="font-semibold">{{ info_page.paginator.num_pages }}</span></p>
                        </label>
                    </div>
                    <div class="relative flex justify-end space-x-4 bg-transparent">
                        <button id="btn-page" type="submit" onclick="loadPage(event)" class="buttons-pagination text-blue-500 font-semibold">Ir</a>
                        <button id="btn-first" type="button" onclick="buttonFirst(event)" class="buttons-pagination text-blue-500 font-semibold">Primera</button>
                        <button id="btn-previous" type="button" onclick="buttonPrevious(event)" class="buttons-pagination text-blue-500 font-semibold"><span id="previous" class="text-blue-500 font-semibold">1</span> Anterior</button>
                        <button id="btn-next" type="button" onclick="buttonNext(event)" class="buttons-pagination text-blue-500 font-semibold">Siguiente <span id="next" class="text-blue-500 font-semibold">2</span></button>
                        <button id="btn-last" type="button" onclick="buttonLast(event)" class="buttons-pagination text-blue-500 font-semibold">Última</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- Tabla -->
    <section class="content-table-med w-full py-4 shadow-xl flex justify-center items-center bg-[#f3f4f581]">
        <div id="medicamentos-table-container" class="overflow-x-auto w-[90%] h-[70vh] bg-[#f3f4f562] rounded-xl shadow-xl">
            {% include 'partials/others_table.html' %}
        </div>
    </section>
    <!-- Contenedor Actas Cargadas -->
    <section id="section-actas" class="content-div-actas w-full bg-transparent h-max-auto">
        {% include 'partials/estandar.html' %}
    </section>
</section>

<script src="{% static 'medicamentos/js/page-button.js' %}"></script>

{% endblock %}