.content-alert-red {
    background-image: url('../../resources/grinch4.gif');
    background-size: 100px 100px; /* Hace que la imagen cubra todo el contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: left;
}

.content-alert-orange {
    background-image: url('../../resources/advertencia.gif');
    background-size: 90px 90px; /* Hace que la imagen cubra todo el contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: left;
}

.content-alert-green {
    background-image: url('../../resources/security.gif');
    background-size: 90px 90px; /* Hace que la imagen cubra todo el contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: left;
}

.content-alert-black {
    background-image: url('../../resources/arbol.gif');
    background-size: 90px 90px; /* Hace que la imagen cubra todo el contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: left;
}

.content-div-alert-red {
    background-image: url('../../resources/alert.gif');
    background-size: 60px 60px; /* Hace que la imagen cubra todo el contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: right;
}

.content-div-alert-orange {
    background-image: url('../../resources/time.gif');
    background-size: 60px 60px; /* Hace que la imagen cubra todo el contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: right;
}

.content-div-alert-green {
    background-image: url('../../resources/check.gif');
    background-size: 60px 60px; /* Hace que la imagen cubra todo el contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: right;
}

.content-div-alert-black {
    background-image: url('../../resources/lapida.gif');
    background-size: 60px 60px; /* Hace que la imagen cubra todo el contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: right;
}
