.content-table-cups {
    background-image: url('../../resources/fondosvg.svg');
    background-size: clamp(min-content, contain, max-content); /* Hace que la imagen cubra todo el contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: left;
    mask-image: linear-gradient(black 90%, transparent);
}

.content-pagination-med {
    background-image: url('../../resources/fondosvg.svg');
    background-size: 40%;     
    background-repeat: no-repeat;
    background-position: right -80px;
}

.content-pagination-cups {
    background-image: url('../../resources/contenedores2.svg');
    background-size: cover;     
    background-repeat: no-repeat;
    background-position: right -100px;
}

@media (max-width: 768px) { /* Ajusta el ancho según el punto de quiebre deseado */
    .content-pagination-med, .content-pagination-cups {
        background-size: 70%; /* Tamaño de fondo más grande en pantallas móviles */
        background-position: right; /* Ajusta la posición si es necesario */
    }
}

.content-table-med {
    background-image: url('../../resources/banner.png');
    background-size: contain;     background-repeat: no-repeat;
    background-position: left;
    border-radius: 0px 0px 50px 50px;
    mask-image: linear-gradient(black 90%, transparent);
}

/* .content-table-med {
    background-image: url('../../resources/fondosvg.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right -70px;
} */