.filter-container {
    background-color: #f8f9fa;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 1rem;
}
.chart-container {
    position: relative;
    height: 300px;
    margin-bottom: 1rem;
}
#mapaCalor, #mapaDpto {
    height: 400px;
    width: 100%;
}
.clickable {
    cursor: pointer;
}
.card {
    transition: all 0.3s;
    box-shadow: 3px 10px 13px 13px rgba(0,0,0,0.1);
}
.card:hover {
    box-shadow: 2px 4px 18px 1px rgba(0, 0, 0, 0.432);
}

.titulo-tablero {
    text-shadow: rgba(0, 0, 0, 0.795) 1px 5px 5px;
}
.titulo-tablero:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

