/* .merry {
    background-image: url('../../resources/decoracion4.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left -150px;
} */

.content-img-prueba {
    background-image: url('../../resources/olaf3.png');
    background-size: 37px 75px; /* Hace que la imagen cubra todo el contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: 82%;
}