.informacion {
    background: black;
    min-width: 1024px;
    height: 300px;
    /* max-height: 300px; */
    overflow-x: hidden;
    overflow-y: auto;
}

@media screen and (max-width: 600px) {
    .informacion {
        width: 300px;
        min-width: 0;
        overflow-x: auto;
    }
    
}
