#section-vencimientos {
    max-height: 0;
    overflow: hidden; /* Asegúrate de ocultar el contenido cuando está colapsado */
    transition: max-height 1s ease; /* Asegúrate de que la transición esté aquí */
}

.titulo-vencimientos {
    text-align: center;
    color: red;
    font-size: 28px;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 5px 5px 45px 45px;
    height: 60px;
    display: flex;
}
.vencidos, .hoy, .manana, .pasado, .semana, .otra, .mes {
    font-weight: bold;
}
.vencidos {
    color: #000;
}
.hoy {
    color: #d9534f;
}
.manana {
    color: darkred;
}
.pasado {
    color: orange;
}
.semana {
    color: yellow;
}
.otra {
    color: lightgreen;
}
.mes {
    color: lightblue;
}

/* Estilos de la tabla */
.table-vencimientos {
    width: 100%;
    max-width: 900px;
    border-collapse: collapse;
    margin: 0 auto 20px auto;
}
th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}
th {
    background-color: #ff7c01;
    color: white;
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}
.tr-vencimientos:hover {
    background: #123249c2;
    color: white;
}

/* Contenedor para centrar y darle un aspecto "card" */
.table-container-vencimientos {
    background-color: #f9f9f9;
    color: #000;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    overflow-x: auto;
    margin: 0 auto 20px auto;
    width: 90%;
    border-radius: 5px 45px 25px 45px;
}
.contenedor-vencimientos {
    width: 100%;
    color: #000;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    overflow-x: auto;
    border-radius: 0px 0px 35px 35px;
}
/* Responsividad */
@media only screen and (max-width: 600px) {
    .table-vencimientos {
        font-size: 12px;
    }
    th, td {
        padding: 4px;
    }
    .table-container-vencimientos {
        padding: 5px;
    }
    .contenedor-vencimientos {
        padding: 5px;
    }
}