{% load static %}

<!-- Alerta -->
<section id="content-alert" class="button-vencimientos content-alertNavidad fixed container group z-[9999] w-[35%] h-[140px] overflow-x-auto overflow-y-hidden top-0 left-[51%] py-4 items-center bg-transparent rounded-full">
    <div class="fixed left-[45.5%] text-[12px] top-2">
        <div class="flex justify-between items-center space-x-2">
            <img id="hidden-alert" src="{% static 'resources/x.gif' %}" alt="img-view-alert" class="option-img h-6">
            <button id="close-alert" class="btn-med text-black focus:outline-none">Cerrar</button>
            <p class="text-[12px] font-bold text-[red]">Total Contratos a vencer {{ alerts|length }}</p>
            <!-- <div class="content-submenu z-[100] absolute left-[43%] top-[107px] w-[300px] mt-2 hidden group-hover:block bg-white shadow-lg px-4 py-1 space-y-1"> -->
            <div class="content-submenu items-center justify-center z-[100] absolute left-[29%] top-[124px] w-[300px] h-[100px] overflow-auto mt-2 hidden group-hover:block bg-white shadow-lg px-4 py-1 space-y-1">
                <p class="text-[12px] font-bold text-[#000000a8] hover:text-[black]">Vencidos : <span class="text-[15px] font-bold">{{ vencidos|length }}</span></p>
                <p class="text-[12px] font-bold text-[#ff00009f] hover:text-[red]">Vencen Hoy : <span class="text-[15px] font-bold">{{ cero|length }}</span></p>
                <p class="text-[12px] font-bold text-[#ff00009f] hover:text-[red]">Vencen Mañana : <span class="text-[15px] font-bold">{{ uno|length }}</span></p>
                <p class="text-[12px] font-bold text-[#ff00009f] hover:text-[red]">Vencen Pasado Mañana : <span class="text-[15px] font-bold">{{ dos|length }}</span></p>
                <p class="text-[12px] font-bold text-[#ffa6009c] hover:text-[#ffa500]">Vencen esta Semana de 4 a 7 días : <span class="text-[15px] font-bold">{{ tres|length }}</span></p>
                <p class="text-[12px] font-bold text-[#0000ff8f] hover:text-[blue]">Vencen la Otra Semana de 8 a 15 días : <span class="text-[15px] font-bold">{{ cuatro|length }}</span></p>
                <p class="text-[12px] font-bold text-[#00800096] hover:text-[green]">Vencen de 16 a 30 días : <span class="text-[15px] font-bold">{{ cinco|length }}</span></p>
            </div>
        </div>
    </div>
    <div id="alert-wrapper" class="w-auto flex bg-transparent rounded-xl space-x-6 py-2">
        {% for alert in alerts %}
        <div class="{{ alert.content }} w-[300px] h-[80px] bg-[{{ alert.bg }}] rounded-xl flex flex-col justify-center items-center  scale-105 transition-transform duration-300 hover:scale-95">
            <div class="{{ alert.div }} text-center w-[300px] h-full bg-transparent rounded-xl shadow-xl flex flex-col justify-center items-center">
                <p class="text-[10px] font-bold text-[{{alert.text}}]">{{ alert.nombre }}</p>
                <p class="text-[10px] font-bold text-[{{alert.text}}]">NIT {{ alert.nit }}</p>
                <p class="text-[10px] font-bold text-[{{alert.text}}]">Contrato # {{ alert.numero_contrato }} - {{ alert.year_contrato }}</p>
                <p class="text-[10px] font-bold text-[{{alert.text}}]">{{ alert.message }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</section>