<table class="table-auto border-collapse border border-gray-300 text-[14px]">
    <thead class="text-white font-bold text-sm text-center">
        <tr>
            <th class="sticky top-0 left-0 px-4 py-2 border border-gray-300 text-left bg-[#0b5494c7] z-20">Item</th>
            <th class="sticky top-0 px-4 py-2 border border-gray-300 text-left bg-[#ff7c00] z-10">NIT Proveedor</th>
            <th class="sticky top-0 left-20 px-4 py-2 border border-gray-300 text-left bg-[#0b5494c7] z-20">Razón Social</th>
            <th class="sticky top-0 px-4 py-2 border border-gray-300 text-left bg-[red] z-10">Departamento</th>
            <th class="sticky top-0 px-4 py-2 border border-gray-300 text-left bg-[red] z-10">Municipio</th>
            <th class="sticky top-0 px-4 py-2 border border-gray-300 text-left bg-[#ff7c00] z-10">Dirección</th>
            <th class="sticky top-0 px-4 py-2 border border-gray-300 text-left bg-[#ff7c00] z-10">Teléfono</th>
            <th class="sticky top-0 left-[260.5px] px-4 py-2 border border-gray-300 text-left bg-[#0b5494c7] z-20">Celular</th>
            <th class="sticky top-0 px-4 py-2 border border-gray-300 text-left bg-[#ff7c00] z-10">Correo (@mail)</th>
            <th class="sticky top-0 px-4 py-2 border border-gray-300 text-left bg-[red] z-10">Representante Legal</th>
            <th class="sticky top-0 px-4 py-2 border border-gray-300 text-left bg-[#ff7c00] z-10">Celular Representante Legal</th>
            <th class="sticky top-0 px-4 py-2 border border-gray-300 text-left bg-[red] z-10">Gerente</th>
            <th class="sticky top-0 px-4 py-2 border border-gray-300 text-left bg-[#ff7c00] z-10">Teléfono Gerente</th>
            <th class="sticky top-0 px-4 py-2 border border-gray-300 text-left bg-[#ff7c00] z-10">Celular Gerente</th>
            <th class="sticky top-0 px-4 py-2 border border-gray-300 text-left bg-[#ff7c00] z-10">Correo Gerente</th>
            <th class="sticky top-0 px-4 py-2 border border-gray-300 text-left bg-[red] z-10">Líder de Convenios</th>
            <th class="sticky top-0 px-4 py-2 border border-gray-300 text-left bg-[#ff7c00] z-10">Teléfono Líder de Convenios</th>
            <th class="sticky top-0 px-4 py-2 border border-gray-300 text-left bg-[#ff7c00] z-10">Celular Líder de Convenios</th>
            <th class="sticky top-0 px-4 py-2 border border-gray-300 text-left bg-[#ff7c00] z-10">Correo Líder de Convenios</th>
            <th class="sticky top-0 px-4 py-2 border border-gray-300 text-left bg-[red] z-10">Admisiones</th>
            <th class="sticky top-0 px-4 py-2 border border-gray-300 text-left bg-[#ff7c00] z-10">Teléfono Admisiones</th>
            <th class="sticky top-0 px-4 py-2 border border-gray-300 text-left bg-[#ff7c00] z-10">Celular Admisiones</th>
            <th class="sticky top-0 px-4 py-2 border border-gray-300 text-left bg-[#ff7c00] z-10">Correo Admisiones</th>
            <th class="sticky top-0 px-4 py-2 border border-gray-300 text-left bg-[red] z-10">Referencia y Contra Referencia</th>
            <th class="sticky top-0 px-4 py-2 border border-gray-300 text-left bg-[#ff7c00] z-10">Teléfono Referencia y Contra Referencia</th>
            <th class="sticky top-0 px-4 py-2 border border-gray-300 text-left bg-[#ff7c00] z-10">Celular Referencia y Contra Referencia</th>
            <th class="sticky top-0 px-4 py-2 border border-gray-300 text-left bg-[#ff7c00] z-10">Correo Referencia y Contra Referencia</th>
            <th class="sticky top-0 px-4 py-2 border border-gray-300 text-left bg-[red] z-10">Asignación de Citas</th>
            <th class="sticky top-0 px-4 py-2 border border-gray-300 text-left bg-[#ff7c00] z-10">Teléfono Asignación de Citas</th>
            <th class="sticky top-0 px-4 py-2 border border-gray-300 text-left bg-[#ff7c00] z-10">Celular Asignación de Citas</th>
            <th class="sticky top-0 px-4 py-2 border border-gray-300 text-left bg-[#ff7c00] z-10">Correo Asignación de Citas</th>
            <th class="sticky top-0 px-4 py-2 border border-gray-300 text-left bg-[red] z-10">Servicio al Cliente</th>
            <th class="sticky top-0 px-4 py-2 border border-gray-300 text-left bg-[#ff7c00] z-10">Teléfono Servicio al Cliente</th>
            <th class="sticky top-0 px-4 py-2 border border-gray-300 text-left bg-[#ff7c00] z-10">Celular Servicio al Cliente</th>
            <th class="sticky top-0 px-4 py-2 border border-gray-300 text-left bg-[#ff7c00] z-10">Correo Servicio al Cliente</th>
            <th class="sticky top-0 px-4 py-2 border border-gray-300 text-left bg-[red] z-10">Auditoría de Cuentas Médicas</th>
            <th class="sticky top-0 px-4 py-2 border border-gray-300 text-left bg-[#ff7c00] z-10">Teléfono Auditoría de Cuentas Médicas</th>
            <th class="sticky top-0 px-4 py-2 border border-gray-300 text-left bg-[#ff7c00] z-10">Celular Auditoría de Cuentas Médicas</th>
            <th class="sticky top-0 px-4 py-2 border border-gray-300 text-left bg-[#ff7c00] z-10">Correo Auditoría de Cuentas Médicas</th>
        </tr>
    </thead>
    <tbody>
        {% for proveedor in proveedores %}
        <tr class="bg-white border-b">
            <td class="sticky left-0 z-10 bg-[#cec2c2] px-4 py-2 border border-gray-300">{{ forloop.counter }}</td>
            <td class="px-4 py-2 border border-gray-300">{{ proveedor.nit }}</td>
            <td class="sticky left-20 z-10 bg-[#cec2c2] px-4 py-2 border border-gray-300">{{ proveedor.name }}</td>
            <td class="px-4 py-2 border font-bold border-gray-300">{{ proveedor.departament }}</td>
            <td class="px-4 py-2 border border-gray-300">{{ proveedor.city }}</td>
            <td class="px-4 py-2 border border-gray-300">{{ proveedor.address }}</td>
            <td class="px-4 py-2 border border-gray-300">{{ proveedor.phone }}</td>
            <td class="sticky left-[260.5px] z-10 bg-[#cec2c2] px-4 py-2 border border-gray-300">{{ proveedor.cell }}</td>
            <td class="px-4 py-2 border border-gray-300">{{ proveedor.mail }}</td>
            <td class="px-4 py-2 border border-gray-300">{{ proveedor.legal_representative }}</td>
            <td class="px-4 py-2 border border-gray-300">{{ proveedor.cell_legal_representative }}</td>
            <td class="px-4 py-2 border border-gray-300">{{ proveedor.manager }}</td>
            <td class="px-4 py-2 border border-gray-300">{{ proveedor.phone_manager }}</td>
            <td class="px-4 py-2 border border-gray-300">{{ proveedor.cell_manager }}</td>
            <td class="px-4 py-2 border font-bold border-gray-300">{{ proveedor.email_manager }}</td>
            <td class="px-4 py-2 border border-gray-300">{{ proveedor.agreement_leader }}</td>
            <td class="px-4 py-2 border font-bold border-gray-300">{{ proveedor.phone_agreement_leader }}</td>
            <td class="px-4 py-2 border font-bold border-gray-300">{{ proveedor.cell_agreement_leader }}</td>
            <td class="px-4 py-2 border font-bold border-gray-300">{{ proveedor.mail_agreement_leader }}</td>
            <td class="px-4 py-2 border border-gray-300">{{ proveedor.admissions }}</td>
            <td class="px-4 py-2 border font-bold border-gray-300">{{ proveedor.phone_admissions }}</td>
            <td class="px-4 py-2 border font-bold border-gray-300">{{ proveedor.cell_admissions }}</td>
            <td class="px-4 py-2 border font-bold border-gray-300">{{ proveedor.mail_admissions }}</td>
            <td class="px-4 py-2 border border-gray-300">{{ proveedor.ref_and_against_ref }}</td>
            <td class="px-4 py-2 border font-bold border-gray-300">{{ proveedor.phone_ref_and_against_ref }}</td>
            <td class="px-4 py-2 border font-bold border-gray-300">{{ proveedor.cell_ref_and_against_ref }}</td>
            <td class="px-4 py-2 border font-bold border-gray-300">{{ proveedor.mail_ref_and_against_ref }}</td>
            <td class="px-4 py-2 border border-gray-300">{{ proveedor.appointment_assignment }}</td>
            <td class="px-4 py-2 border font-bold border-gray-300">{{ proveedor.phone_appointment_assignment }}</td>
            <td class="px-4 py-2 border font-bold border-gray-300">{{ proveedor.cell_appointment_assignment }}</td>
            <td class="px-4 py-2 border font-bold border-gray-300">{{ proveedor.mail_appointment_assignment }}</td>
            <td class="px-4 py-2 border border-gray-300">{{ proveedor.customer_service }}</td>
            <td class="px-4 py-2 border font-bold border-gray-300">{{ proveedor.phone_customer_services }}</td>
            <td class="px-4 py-2 border font-bold border-gray-300">{{ proveedor.cell_customer_services }}</td>
            <td class="px-4 py-2 border font-bold border-gray-300">{{ proveedor.mail_customer_services }}</td>
            <td class="px-4 py-2 border border-gray-300">{{ proveedor.audit_of_medical_accounts }}</td>
            <td class="px-4 py-2 border font-bold border-gray-300">{{ proveedor.phone_audit_of_medical_accounts }}</td>
            <td class="px-4 py-2 border font-bold border-gray-300">{{ proveedor.cell_audit_of_medical_accounts }}</td>
            <td class="px-4 py-2 border font-bold border-gray-300">{{ proveedor.mail_audit_of_medical_accounts }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
